html, body
  margin: 0
  padding: 0
  font: 15px arial, sans-serif

#file_browser
  position: fixed
  top: 0
  left: 0
  width: 200px
  background-color: #ddddee
  & > *
    padding: 5px 5px 0 5px
  & > *:last-child
    padding-bottom: 5px

  input[type="range"]
    width: 130px
    margin: 0
  input[type="number"]
    width: 50px

#eye-options
  label[for="left-eye"]
    color: #cc0000
  label[for="right-eye"]
    color: #0000ff

.browser_container
  height: 200px

.browser
  background-color: #eeeeff
  height: 100%
  overflow: auto

  .selected
    background-color: #0000ff
    color: #ffffff

#bb
  rect
    fill: #dddddd
  text
    fill: #666666
    text-anchor: middle
    alignment-baseline: middle
#gaze
  circle.drawn
    cursor: hand
    &.left
      fill: #ff0000
    &.right
      fill: #0000ff
    &.center
      fill: #000000
  line.drawn
    stroke-width: 0.5
    &.left
      stroke: #ff0000
    &.right
      stroke: #0000ff
    &.center
      stroke: #000000
      stroke-width: 1.5px
    &.inter
      stroke: rgba(0, 0, 0, 0.2)
    &.rs
      &.left, &.right
        stroke: none
      &.center
        opacity: 0.5
        stroke: #006600

.ralign
  text-align: right
