html, body
  margin: 0
  padding: 0

#file_browser
  position: fixed
  top: 0
  left: 0
  width: 200px
  background-color: #ddddee
  & > *
    padding: 5px 5px 0 5px
  & > *:last-child
    padding-bottom: 5px

  input[type="range"]
    width: 125px
  input[type="text"]
    width: 50px

.browser_container
  height: 200px

.browser
  background-color: #eeeeff
  height: 100%
  overflow: auto

  .selected
    background-color: #0000ff
    color: #ffffff

#bb
  rect
    fill: rgba(0, 0, 0, 0.10)
  text
    fill: rgba(0, 0, 0, 0.40)
    text-anchor: middle
    alignment-baseline: middle
#gaze
  circle
    opacity: 0.3
    &.left
      fill: #ff0000
    &.right
      fill: #0000ff
  line
    stroke-width: 0.2
    &.left
      stroke: #ff0000
    &.right
      stroke: #0000ff
    &.inter
      stroke: rgba(0, 0, 0, 0.2)

.ralign
  text-align: right
