html, body
  margin: 0
  padding: 0

#file_browser
  position: fixed
  top: 0
  left: 0
  width: 200px
  background-color: #ddddee
  & > *
    padding: 5px 5px 0 5px
  & > *:last-child
    padding-bottom: 5px

.browser_container
  height: 200px

.browser
  background-color: #eeeeff
  height: 100%
  overflow: auto

#bb
  rect
    fill: rgba(0, 0, 0, 0.10)
  text
    fill: rgba(0, 0, 0, 0.40)
    text-anchor: middle
    alignment-baseline: middle
#gaze
  circle
    &.left
      fill: #ff0000
    &.right
      fill: #0000ff
