html, body {
  margin: 0;
  padding: 0; }

#file_browser {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #ddddee; }
  #file_browser > * {
    padding: 5px 5px 0 5px; }
  #file_browser > *:last-child {
    padding-bottom: 5px; }
  #file_browser input[type="range"] {
    width: 125px; }
  #file_browser input[type="text"] {
    width: 50px; }

.browser_container {
  height: 200px; }

.browser {
  background-color: #eeeeff;
  height: 100%;
  overflow: auto; }
  .browser .selected {
    background-color: blue;
    color: white; }

#bb rect {
  fill: rgba(0, 0, 0, 0.1); }
#bb text {
  fill: rgba(0, 0, 0, 0.4);
  text-anchor: middle;
  alignment-baseline: middle; }

#gaze circle {
  opacity: 0.3; }
  #gaze circle.left {
    fill: red; }
  #gaze circle.right {
    fill: blue; }

.ralign {
  text-align: right; }
