html, body {
  margin: 0;
  padding: 0;
  font: 15px arial, sans-serif; }

.dragging * {
  cursor: pointer; }

#file_browser {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #ddddee; }
  #file_browser > * {
    padding: 5px 5px 0 5px; }
  #file_browser > *:last-child {
    padding-bottom: 5px; }
  #file_browser input[type="range"] {
    width: 130px;
    margin: 0; }
  #file_browser input[type="number"] {
    width: 50px; }

#eye-options label[for="left-eye"] {
  color: #cc0000; }
#eye-options label[for="right-eye"] {
  color: blue; }

.browser_container {
  height: 200px; }

.browser {
  background-color: #eeeeff;
  height: 100%;
  overflow: auto; }
  .browser .selected {
    background-color: blue;
    color: white; }

#fix-options #scrap-changes, #fix-options.dirty #i-dt-options {
  display: none; }
#fix-options #i-dt-options, #fix-options.dirty #scrap-changes {
  display: block; }

#bb rect {
  fill: #dddddd; }
#bb text {
  fill: #666666;
  text-anchor: middle;
  alignment-baseline: middle; }

#gaze circle.drawn {
  cursor: pointer; }
  #gaze circle.drawn.left {
    fill: red; }
  #gaze circle.drawn.right {
    fill: blue; }
  #gaze circle.drawn.center {
    fill: black; }
#gaze line.drawn {
  stroke-width: 0.5; }
  #gaze line.drawn.left {
    stroke: red; }
  #gaze line.drawn.right {
    stroke: blue; }
  #gaze line.drawn.center {
    stroke: black;
    stroke-width: 1.5px; }
  #gaze line.drawn.inter {
    stroke: rgba(0, 0, 0, 0.2); }
  #gaze line.drawn.rs.left, #gaze line.drawn.rs.right {
    stroke: none; }
  #gaze line.drawn.rs.center {
    opacity: 0.5;
    stroke: #006600; }

.ralign {
  text-align: right; }
